numpy>=2.0.0
chromadb>=0.5.0
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
langchain-ollama
langchain-chroma
pypdf>=4.0.2
ollama>=0.1.7
tqdm>=4.66.1
streamlit
docx2txt==0.8
beautifulsoup4
lxml
